@import "tailwindcss";

/* Configuração da cor da barra lateral da seção dos itens da barra lateral */
section::-webkit-scrollbar {
  width: 0.5rem;
}

section::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

section.section-is-hovering::-webkit-scrollbar-thumb {
  background-color: #585858; /* gray-800 */
}